{% extends 'base/base.html' %}
{% block title %} <title>叶水源的博客</title>{% endblock %}
{% block Article %}
        <ul class="ArticleList">
            <li>
                <h2 class="article_title">C# DevExpress GridControl中单元格值修改后改变单元格的颜色</h2>
                <p class="article_message">
                    <span><a href="">作者:water</a></span>
                    <span><a href="">日期:2020年1月1日</a></span>
                    <span><a href="">分类:C#</a></span>
                </p>
                <p class="article_content">有时候,我们需要对生成的girdview的单元格修改,修改过后,需要记录哪个单元格做过修改,那么我们可通过给单 […]</p>
                <button class="read">Read More</button>
            </li>
            <li>
                <h2 class="article_title">C# DevExpress GridControl中单元格值修改后改变单元格的颜色</h2>
                <p class="article_message">
                    <span><a href="">作者:water</a></span>
                    <span><a href="">日期:2020年1月1日</a></span>
                    <span><a href="">分类:C#</a></span>
                </p>
                <p class="article_content">有时候,我们需要对生成的girdview的单元格修改,修改过后,需要记录哪个单元格做过修改,那么我们可通过给单 […]</p>
                <button class="read">Read More</button>
            </li>
            <li>
                <h2 class="article_title">C# DevExpress GridControl中单元格值修改后改变单元格的颜色</h2>
                <p class="article_message">
                    <span><a href="">作者:water</a></span>
                    <span><a href="">日期:2020年1月1日</a></span>
                    <span><a href="">分类:C#</a></span>
                </p>
                <p class="article_content">有时候,我们需要对生成的girdview的单元格修改,修改过后,需要记录哪个单元格做过修改,那么我们可通过给单 […]</p>
                <button class="read">Read More</button>
            </li>
            <li>
                <h2 class="article_title">C# DevExpress GridControl中单元格值修改后改变单元格的颜色</h2>
                <p class="article_message">
                    <span><a href="">作者:water</a></span>
                    <span><a href="">日期:2020年1月1日</a></span>
                    <span><a href="">分类:C#</a></span>
                </p>
                <p class="article_content">有时候,我们需要对生成的girdview的单元格修改,修改过后,需要记录哪个单元格做过修改,那么我们可通过给单 […]</p>
                <button class="read">Read More</button>
            </li>
        </ul>
{% endblock %}
